{% extends 'base.html.twig' %}

{% block title %}Hello Blog!{% endblock %}
{% block body %}
<div class="container">
        <section class="articles">

                {% for article in articles %}
                
                        <article>
                                <h2>{{ article.title }}</h2>
                                <br />
                                <div class="metadata">Writted {{ article.createdAt | date('d/m/Y') }} at {{ article.createdAt | date('H:i')}} into category {{article.category.title}}</div>
                                <div class="content">
                                        <img src="{{ article.image }}" alt="joulie image">
                                
                                        {{ article.content | raw  }}
                               
                                        <a href="{{ path('blog_show', { 'id' : article.id }) }}" class="btn btn-primary">Continue reading</a>
                                </div>
                        </article>
                        <br />
                {% endfor %}

        </section>
</div>
{% endblock %}
