<nav class="navbar navbar-dark bg-primary">
	<ul>
		<li><a href="{{ path('main') }}">Accueil</a></li>
        <li><a href="{{ path('about') }}">About</a></li>
        <li><a href="{{ path('blog') }}">Blog</a></li>
        <li><a href="{{ path('produits') }}">Produits</a></li>
        <li><a href="{{ path('contact') }}">Contact</a></li>
	</ul>
</nav>